@model IEnumerable<PraccCentral.Models.Pracc>


@{
    ViewBag.Title = "DisplayAll";
}

<h2>DisplayAll</h2>


@using (Html.BeginForm("DisplayAll", "Pracc", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-container" }))
{
    @Html.AntiForgeryToken()
    foreach (var pracc in Model)
    {

        <h3>@pracc.Map</h3>
        <h5>@pracc.User.Id</h5>


        <div>
            @Html.ActionLink("Request", "DisplayAll", "Pracc", new { requestUser = User, praccId = pracc.PraccId }, new { @class = "glyphicon glyphicon-chevron-right" })
        </div>

        <div class="form-group">
            <div>
                <input type="submit" class="btn-send orange icon-mail" value="Request Game" />
            </div>
        </div>
    }
}

